@rendermode InteractiveServer
@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-xl font-bold drop-shadow-xl">Form Demo App</h1>

    <div class="text-lg flex flex-col gap-2">
        <div>
            <p>
                This is a simple form demo app that demonstrates how to use forms in Blazor.
            </p>
        </div>

        <div>
            <h2 class="font-bold">Demo Showcase</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
            <div class="flex flex-col items-center">
                <MyForm OnPersonAdd="UpdateListOfPeople" />
            </div>
            <div class="flex flex-col items-center">
                <h3 class="font-bold">People</h3>
                @if (ListOfPeople.Any())
                {
                    @foreach (var person in ListOfPeople)
                    {
                        <p>@person.FirstName @person.LastName</p>
                        <p>@person.LifeStory</p>
                        <p>@person.IsEnrolled</p>
                        <p>@person.StartDate</p>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code
{
    private List<PersonModel> ListOfPeople { get; set; } = new();
    private void UpdateListOfPeople(PersonModel person)
    {
        ListOfPeople.Add(person);
    }
}